* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

img {
    width: 100%;
}

.avatar-icon {
    width: 60px;
    padding: 5px;
    border-radius: 50px;
    vertical-align: middle;
}

.icon-features i {
    cursor: pointer;
    margin-right: 0.4rem;
    color: #b1b1b1;
    font-size: 20px;
}

/* Main layout */

#app-wrapper {
    height: 100vh;
    padding: 20px 0;
    background-color: #009587;
}

#main-container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    /* test */
    border: 1px solid black;
}

.upper-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    /* test */
    border-bottom: 1px solid black;
}

/* Aside column features */

.aside-col {
    background-color: white;
    width: 35%;
    overflow: auto;
    /* test */
    border-right: 1px solid black;
}

.alert-area {
    display: flex;
    padding: 1rem;
    background-color: #8edafc;
}

.message-alerts,.underline-txt {
    text-decoration: underline;
    color: #b1b1b1;
}


.icon-alert {
    background-color: white;
    color: #8edafc;
    padding: 10px;
    margin-right: 1rem;
    border-radius: 30px;
    height: 40px;
    width: 40px;
}

.search-input {
    background-color: #fafafa;
}

#search-chat {
    width: 90%;
    margin: 10px;
    padding: 0.4rem;
}

.chats-list {
    background-color: white;
}

.single-chat {
    border-top: 1px solid gray;
    padding: 10px 0;
}

.single-chat:hover {
    background-color: lightgray;
}

/* Main column features */

.main-col {
    background-color: lightcoral;
    width: 65%;
    position: relative;
}

.newmessage-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
    background-color: #f3eeea;
}

.newmessage-area input {
    display: inline-block;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

.main-chat {
    padding: 2rem;
    padding-bottom: 60px;
    background-image: url("../img/mine.jpg");
    height: calc(100vh - 120px);
    overflow: auto;
}

.msg-sent {
    padding: 2rem;
    background-color: green;
}

.msg-received {
    padding: 2rem;
    background-color: white;
}